body{
  font-family: Courier New;
  background-color: #17153B;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "d d e e"
    ;  
}

/*title*/
.container div:nth-child(1) {
  grid-area: a;
  background-color: #2E236C;
  border: 3px, solid black;
  text-align: center;
  font-size: 3.5em;
  color: #EDEADE;
  border-radius: 15px;
  margin: 10px;
}

/*books*/
.container div:nth-child(2) {
  grid-area: b;
  background-color: #433D8B;
  border: 3px, solid black;
  font-size: 40px;
  color: white;
  border-radius: 15px;
  margin-left: 15px;
}

/*songs*/
.container div:nth-child(3) {
  grid-area: c;
  background-color: #433D8B;
  border: 3px, solid black;
  font-size: 40px;
  color: white;
  border-radius: 15px;
  margin-right: 15px;
}

/*food*/
.container div:nth-child(4) {
  grid-area: d;
  background-color: #433D8B;
  border: 3px, solid black;
  font-size: 40px;
  color: white;
  border-radius: 15px;
  margin-left: 15px;
}

/*food*/
.container div:nth-child(5) {
  grid-area: e;
  background-color: #433D8B;
  border: 3px, solid black;
  font-size: 40px;
  color: white;
  border-radius: 15px;
  margin-right: 15px;
}

.pleaseendmysuffering{
  font-size: 17px;
  text-align: center;
}

.centertitle{
  text-align: center;
  text-decoration: underline;
}

/*covers the links*/
a:hover{
  background-color: #D6B9E3;
}
a:link{
  color: #FAF9F6;
}
a:visited{
  color: black;
}

/*center the text cause ol uncenters it*/
#padding {
  padding-right: 25px;
}
#slightlymorepadding{
  padding-right: 40px;
}
